
body{
    background-image: url(../backgr4.jpg);
    background-size: cover;
    font-style: normal;
    color: bisque;
}

.menu ul li{
    list-style: none;
    color: black;
}
.menu ul li a:hover{
    color: darkgoldenrod;
}
